body {
    background-color: antiquewhite;
}

h1 {
    color: blue;
    transition: color .5s ease-in-out;
}

.clicked {
    color: tomato;
}

.sexy-font {
    font-family: -apple-system, BlinkMacSystemFont,
     'Segoe UI', Roboto, Oxygen, Ubuntu, Cantare
    ll, 'Open Sans', 'Helvetica Neue', sans-serif;
}
